---
title: Page missing 😣
layout: default
description: "404 - page not found"
permalink: /404.html
---

{% include container.html %}

<div class="max-w-2xl px-4 pt-8 pb-16 mx-auto prose lg:prose-lg md:pt-0">
  <section>
    <p class="text-center">If this was my fault (like a bad link) I'd appreciate a <a href="{{ "/" }}contact">heads up</a>.</p>

    <div class="items-center md:flex">
      <img src="/assets/images/Don_Quixote_by_Picasso.svg" alt="Don Quixote by Picasso">

      <div class="sm:w-full sm:inline-block sm:mx-auto">
        <p><strong>Check out some recent posts:</strong></p>
        <ul>
          {% for post in site.tags.posts limit:5 %}
            <li><a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
