name: Piotr Stojanow
title: Piotr Stojanow
description: "Piotr Stojanow's essays, blog, tweetstorms and book notes. A personal site."

aboutPage: true

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate-v2
  - jekyll-toc
domain_name: 'stojanow.com'
google_analytics: 'UA-97630657-2'
disqus: true
disqus_shortname: 'stojanow'

pagination:
  enabled: true
  per_page: 5
  sort_reverse: true

# Details for the RSS feed generator
url:    'http://stojanow.com'
author:
  name: 'Piotr Stojanow'
twitter:
  username: piotrstojanow

permalink:       /:year/:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
