---
title: Book Notes
description: "Piotr Stojanow's book notes. Detailed notes on books I've read. If a book is here, then it's recommended."
profile: false
permalink: notes/
---

{% include container.html %}

<div class="max-w-2xl pt-8 pb-16 mx-auto prose x-4 lg:prose-lg md:pt-0">
	<p>Constantly updated list of books I've read with <strong>detailed notes</strong>.</p>
	<p>If you are certain that I'll enjoy a book, <a href="{{ "/" }}contact">email me</a> a recommendation!</p>
	<p>I also keep notes at my <a href="https://wiki.stojanow.com">wiki</a>.</p>
	<hr>
</div>

<div class="max-w-5xl pt-8 pb-16 mx-auto prose x-4 lg:prose-lg md:pt-0">
	{% include book-list.html %}
</div>