---
title: Book Notes
description: "Piotr Stojanow's book notes. Detailed notes on books I've read. If a book is here, then it's recommended."
profile: false
permalink: notes/
---

<style type="text/css" media="screen">
  #post-list {
    margin-top: 30px;
  }

  #post-list li {
    margin: 20px 0 20px 0;
  }
</style>

{% include container.html %}

<p>Constantly updated list of books I've read with <strong>detailed notes</strong>.</p>
<p>If you are certain that I'll enjoy a book, <a href="{{ "/" }}contact">email me</a> a recommendation!</p>
<p>I also keep notes at my <a href="wiki.stojanow.com">wiki</a>.</p>
<hr>

{% include book-list.html %}
