---
title: Fiction
description: "My flash fiction, microfiction writing."
permalink: fiction/
profile: false
---

{% include container.html %}

<div class="max-w-2xl px-4 mx-auto prose text-center lg:prose-lg md:pt-0">
  <p>
    A place to practice my
    <a href="https://en.wikipedia.org/wiki/Flash_fiction">flash fiction</a> and
    <a href="https://en.wikipedia.org/wiki/Micro-SFP">micro-SFP</a> writing.
  </p>
  <hr />
</div>

<div class="max-w-5xl mx-auto prose x-4 lg:prose-lg md:pt-0">
  {% include fiction-list.html %}
</div>
