---
title: Subscribe
description: "Subscribe to Piotr Stojanow for updates and email only goodies. RSS feed is also available."
profile: false
permalink: subscribe/
---

{% include container.html %}

<div class="max-w-2xl px-4 pt-8 pb-16 mx-auto prose lg:prose-lg md:pt-0">

  {% include subscription-form.html %}

  <p>Newsletter link if you use adblock and can't see the form: <a href="https://stojanow.substack.com/subscribe?simple=true&next=https%3A%2F%2Fstojanow.substack.com" target="_blank">subscribe 🔔</a>.</p>
  <p>If you prefer "ancient" web technology - <b>RSS</b> 😉 - then a <a class="cta" href="{{ "/" | relative_url  }}feed.xml">feed is available ✅</span></a>.</p>
  <p>Also, you can find me on <a href="http://twitter.com/piotrstojanow" id="twi-profile" target="_blank"><span class="icon-twi"></span> twitter</a> or get in touch through <a href="{{ "/" }}contact">email 📧</a>.</p>

</div>
