---
title: Subscribe
description: "Subscribe to Piotr Stojanow for updates and email only goodies. RSS feed is also available."
profile: false
permalink: subscribe/
---

{% include container.html %}

{% include subscription-form.html %}

<p>If you prefer "ancient" web technology - <b>RSS</b> 😉 - then a <a class="cta" href="{{ "/" | relative_url  }}feed.xml">feed is available</span></a>.</p>
<p>Also, you can find me on <a href="http://twitter.com/piotrstojanow" id="twi-profile" target="_blank"><span class="icon-twi"></span> twitter</a> or get in touch through <a href="{{ "/" }}contact">email</a>.</p>
