---
import BaseLayout from "~/layouts/BaseLayout.astro";
import NotesHeader from "~/components/NotesHeader.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

type Props = { note: CollectionEntry<"notes"> };
type Slug = Pick<CollectionEntry<"notes">, "slug">;

const { note } = Astro.props;
const { slug } = Astro.params as Slug;
const { Content } = await note.render();

const seoProps = {
  description: note.data.description,
  title: note.data.title,
  slug,
};
---

<BaseLayout {...seoProps}>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="mx-auto">
      <article
        class="max-w-2xl px-4 pt-8 pb-16 mx-auto prose dark:prose-dark md:pt-0"
      >
        <NotesHeader note={note} />

        <Content class="prose dark:prose-dark" />
      </article>
    </div>
  </div>
</BaseLayout>
