---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import PostsIndex from "~/components/PostsIndex.astro";
import { getCollection } from "astro:content";
import { formatContent } from "~/utils";
import site from "~/config/site";

const notes = await getCollection("notes");
const sortedNotes = formatContent<"notes">(notes);

const { author } = site;
const seoProps = {
  description: `${author}'s book notes. Detailed notes on books I've read. If a book is here, then it's recommended.`,
  slug: "notes",
  title: "Notes",
};
---

<BaseLayout {...seoProps}>
  <div class="relative px-4 pb-20 pt-16 sm:px-6 lg:px-8 lg:pb-28 lg:pt-24">
    <div
      class="prose mx-auto max-w-2xl px-4 text-center dark:prose-dark lg:prose-lg md:pt-0"
    >
      <AppTitle>{seoProps.title}</AppTitle>
      <hr />
    </div>

    <PostsIndex posts={sortedNotes} prefix="notes" />
  </div>
</BaseLayout>
