<!-- 
{% for post in site.categories.posts %}
  <article>
      <header>
          <h1><a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a></h1>
          <h2>{{ site.author.name }}</p>
          <h3>{{ post.date | date:"%B %-d, %Y" }}</h3s=>
      </header>
      <section>
          {{post.content}}
      </section>
  </article>
{% endfor %} -->

<div
  class="grid max-w-lg gap-5 px-5 mx-auto overflow-visible lg:grid-cols-2 lg:max-w-none"
>
    {% for post in site.categories.posts %}

  <div class="items-center py-10 prose">
    <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}" class="text-black no-underline hover:text-black">
      <div
        class="container max-w-sm mx-auto transition-all duration-500 transform bg-white shadow-lg rounded-xl hover:scale-105 hover:shadow-2xl"
      >
        <img src="{{ "/" | relative_url }}assets/images/posts/{{ post.slug
        }}/{{ post.image }}.jpg" alt="" class="rounded-t-xl" />

        <div class="p-6">
          <h1 class="font-bold prose-xl cursor-pointer text-brand-red">
            {{ post.title }}
          </h1>
          <p class="text-center text-gray-400">{{ post.date | date:"%B %-d, %Y" }}</p>
          <div class="font-thin font">
            {{ post.content | strip_html | truncatewords:75 }}
          </div>
          <p class="hover:text-brand-red">Read More</p>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>