<div
  class="grid max-w-lg gap-5 px-5 mx-auto overflow-visible lg:grid-cols-3 lg:max-w-none"
>
  {% for story in site.categories.fiction %}

  <div class="items-center py-10 prose">
    <a href="{{ "/" | relative_url  }}{{ story.url | remove_first: '/' }}" class="text-black no-underline hover:text-black">
      <div
        class="container max-w-sm mx-auto transition-all duration-500 transform bg-white shadow-lg rounded-xl hover:scale-105 hover:shadow-2xl"
      >
        <img src="{{ "/" | relative_url }}assets/images/posts/{{ story.slug
        }}/{{story.image}}.jpg" alt="" class="rounded-t-xl" />

        <div class="p-6">
          <h1 class="font-bold prose-xl cursor-pointer text-brand-red">
            {{ story.title }}
          </h1>
          <div class="font-thin font">
            {{ story.content | strip_html | truncatewords:25 }}
          </div>
          <p class="hover:text-brand-red">Read More</p>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>