<footer class="max-w-2xl px-4 pt-8 pb-8 mx-auto mt-auto prose bg-white lg:prose-lg md:pt-0">
  <div class="max-w-6xl py-12 mx-auto">
    <div class="flex items-baseline justify-center text-brand-red">
      <a href="/contact" class="box-border p-0 mr-4 no-underline align-baseline border-0 sm:mr-2 filter hover:brightness-125">📧 contact</a>
      <a href="http://twitter.com/piotrstojanow" target="_blank" class="p-0 mr-4 no-underline sm:mr-2 filter hover:brightness-125">🐦 twitter</a>
      <a href="https://github.com/psto" target="_blank" class="p-0 mr-4 no-underline sm:mr-2 filter hover:brightness-125">🐙 github</a>
      <a href="https://wiki.stojanow.com" target="_blank" class="p-0 mr-4 no-underline sm:mr-2 filter hover:brightness-125">📖 wiki</a> 
      <a href="https://stojanow.substack.com/subscribe?simple=true&next=https%3A%2F%2Fstojanow.substack.com" target="_blank" class="p-0 m-0 no-underline filter hover:brightness-125">🔔 subscribe</a>
    </div>
    <div class="block p-2 m-0 text-sm leading-normal text-center text-gray-400">
      All text licensed under the Creative Commons Attribution-NonCommercial 4.0 International License (<a href="{{ "/" }}copyright" class="text-brand-red filter hover:brightness-125">more</a>)
    </div>
  </div>
</footer>
