{% assign img = include.img %}
{% assign link = include.link %}

{% if link %}
  <a href="{{ link }}">
    <picture>
      <source type="image/webp" srcset="/assets/images/posts/{{ page.slug }}/{{ img }}.webp" >
      <img src="/assets/images/posts/{{ page.slug }}/{{ img }}.{{ include.ext }}" alt="{{ include.alt }}" />
    </picture>
  </a>
{% else %}
  <picture>
    <source type="image/webp" srcset="/assets/images/posts/{{ page.slug }}/{{ img }}.webp" >
    <img src="/assets/images/posts/{{ page.slug }}/{{ img }}.{{ include.ext }}" alt="{{ include.alt }}" />
  </picture>
{% endif %}
