<a class="twi" href="#" onclick="javascript:tweetCurrentPage()" alt="Tweet this page">
  <span class="icon-twi"></span> Tweet</a>

<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;"><span class="icon-facebook-rect"> Share</span>
</a>

<script language="javascript">
    function tweetCurrentPage()
    { window.open("https://twitter.com/share?url="+escape(window.location.href)+"&via=piotrstojanow"+"&text="+document.title.split('- ').pop(), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>
