<section>
  <form class="simple-subscription-form" action="https://tinyletter.com/stojanow" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/stojanow', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>Get instant updates and email only goodies.</p>
    <div class="input-group">
      <input type="text" name="email" class="input-group-field" placeholder="email@email.com" required/>
      <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="button"/>
    </div>
  </form>
</section>
