@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.cjs";

@theme {
  --color-brand-red: #cc3535;
  --color-brand-red-dark: #cb5f5d;
  --color-dark: #0f0d0c;
  --color-dark-light: #19171d;
}
