---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import TheDonQuixote from "~/components/TheDonQuixote.astro";

const title = "Page not found 😣";
---

<BaseLayout
  title={title}
  description="Check out my other resources on the homepage."
>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:px-8 lg:pt-24 lg:pb-28">
    <div
      class="prose dark:prose-dark lg:prose-lg mx-auto max-w-2xl px-4 text-center md:pt-0"
    >
      <AppTitle>{title}</AppTitle>
    </div>
    <div class="prose dark:prose-dark mx-auto mt-12 max-w-2xl text-center">
      <p>
        If this was my fault (like a bad link) I'd appreciate a
        <a href="/contact">heads up</a>.
      </p>
      <p>You can also check out my recent <a href="/essays">essays</a>.</p>
      <div class="flex justify-center">
        <TheDonQuixote />
      </div>
    </div>
  </div>
</BaseLayout>
