---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div
      class="max-w-2xl px-4 mx-auto prose text-center dark:prose-dark lg:prose-lg md:pt-0"
    >
      <AppTitle>Page not found 😣</AppTitle>
    </div>
    <div class="mx-auto mt-12 max-w-2xl prose dark:prose-dark text-center">
      <p>
        If this was my fault (like a bad link) I'd appreciate a
        <a href="/contact">heads up</a>.
      </p>
      <p>You can also check out my recent <a href="/essays">essays</a>.</p>
      <div class="items-center md:flex">
        <img
          src="./images/Don_Quixote_by_Picasso.svg"
          width="400"
          height="473"
          alt="Don Quixote by Picasso"
          class="bg-white dark:bg-gray-200 rounded-xl"
        />
      </div>
    </div>
  </div>
</BaseLayout>
