---
import PostHeader from "~/components/PostHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { Picture } from "@astrojs/image/components";
import { CollectionEntry, getCollection } from "astro:content";
import { formatContent } from "~/utils";

export async function getStaticPaths() {
  const essays = await getCollection("essays");
  const formattedEssays = formatContent(essays);

  return formattedEssays.map((essay) => ({
    params: { slug: essay.slug },
    props: { essay },
  }));
}

type Props = { essay: CollectionEntry<"essays"> };
type Slug = Pick<CollectionEntry<"essays">, "slug">;

const { essay } = Astro.props;
const { slug } = Astro.params as Slug;
const { Content } = await essay.render();

const imageAlt = essay.data.imageAlt || "";

const seoProps = {
  description: essay.data.description,
  title: essay.data.title,
  slug,
};
---

<BaseLayout {...seoProps}>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:px-8 lg:pt-24 lg:pb-28">
    <div class="mx-auto">
      <article
        class="prose mx-auto max-w-2xl px-4 pt-8 pb-16 dark:prose-dark md:pt-0"
      >
        <PostHeader
          date={essay.data.date.toString()}
          title={essay.data.title}
        />

        {
          /* TODO: research sizes viewport - vw or ship with aspectRatio="4:3" instead */
        }
        {
          essay.data.image && (
            <Picture
              src={import(`../images/posts/${essay.data.image}.jpg`)}
              alt={imageAlt}
              widths={[500, 700]}
              sizes="100vw"
              formats={["avif", "webp"]}
              loading="eager"
              class="w-full rounded"
            />
          )
        }

        <Content class="prose dark:prose-dark" />
      </article>
    </div>
  </div>
</BaseLayout>
