---
import PostHeader from "~/components/PostHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const essays = await getCollection("essays");

  return essays.map((essay) => ({
    params: { slug: essay.slug },
    props: { essay },
  }));
}

const { essay } = Astro.props;
const { slug } = Astro.params;
const { Content } = await essay.render();

const seoProps = {
  description: essay.data.description,
  title: essay.data.title,
  slug,
};
---

<BaseLayout {...seoProps}>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="mx-auto">
      <article
        class="max-w-2xl px-4 pt-8 pb-16 mx-auto prose dark:prose-dark md:pt-0"
      >
        <PostHeader date={essay.data.date} title={essay.data.title} />

        {
          /* TODO: research sizes viewport - vw or ship with aspectRatio="4:3" instead */
        }
        <Picture
          src={import(`../images/posts/${essay.data.image}.jpg`)}
          alt={essay.data.imageAlt}
          widths={[500, 700]}
          sizes="100vw"
          formats={["avif", "webp"]}
          loading="eager"
          class="w-full rounded"
        />

        <Content class="prose dark:prose-dark" />
      </article>
    </div>
  </div>
</BaseLayout>
