---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import ExternalLink from "~/components/ExternalLink.astro";

const seoProps = {
  description: "About Piotr Stojanow",
  slug: "About",
  title: "About",
};
---

<BaseLayout {...seoProps}>
  <div
    class="prose relative mx-auto max-w-2xl px-4 pt-16 dark:prose-dark lg:pt-24"
  >
    <div class="mx-auto px-4 text-center md:pt-0 lg:prose-lg">
      <AppTitle>{seoProps.title}</AppTitle>
      <hr />
    </div>

    <div class="relative mx-auto mt-8 max-w-2xl">
      <blockquote>
        "All you have to do is write one true sentence. Write the truest
        sentence that you know. So finally I would write one true sentence, and
        then go on from there." — Ernest Hemingway
      </blockquote>

      <p>
        All my attempts to distill what I know to one true sentence at a time. I
        also keep a <ExternalLink href="https://wiki.stojanow.com">
          wiki
        </ExternalLink> of things I know.
      </p>

      <p>A taste of subjects I write about:</p>

      <p class="text-center">
        <a href="/contact" class="filter hover:brightness-125">Email me</a>
        or say hi on
        <ExternalLink
          href="http://twitter.com/piotrstojanow"
          style="color: #1da1f2"
          className="p-0 mr-4 no-underline sm:mr-2 filter hover:brightness-125"
        >
          🐦 twitter!
        </ExternalLink>
      </p>
    </div>
  </div>
</BaseLayout>
