---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Tweet from "~/components/Tweet.astro";
import ExternalLink from "~/components/ExternalLink.astro";

const seoProps = {
  description: "About Piotr Stojanow",
  slug: "About",
  title: "About",
  plum: true,
};
---

<BaseLayout {...seoProps}>
  <div
    class="relative max-w-2xl px-4 pt-16 lg:pt-24 mx-auto prose dark:prose-dark"
  >
    <div class="px-4 mx-auto text-center lg:prose-lg md:pt-0">
      <AppTitle>{seoProps.title}</AppTitle>
      <hr />
    </div>

    <div class="relative mt-8 mx-auto max-w-2xl">
      <blockquote>
        "All you have to do is write one true sentence. Write the truest
        sentence that you know. So finally I would write one true sentence, and
        then go on from there." — Ernest Hemingway
      </blockquote>

      <p>
        All my attempts to distill what I know to one true sentence at a time. I
        also keep a <ExternalLink href="https://wiki.stojanow.com"
          >wiki</ExternalLink
        > of things I know.
      </p>

      <p>A taste of subjects I write about:</p>

      <div class="space-y-5 grid place-content-center">
        <Tweet TweetID="1019493543759499264" />

        <Tweet TweetID="1011499621938618368" />

        <Tweet TweetID="1010983891287658498" />

        <Tweet TweetID="1016417376626241536" />

        <Tweet TweetID="1000255235204505600" />

        <Tweet TweetID="1015614180634906624" />

        <Tweet TweetID="1017494049941524488" />

        <Tweet TweetID="1013323755605626881" />

        <Tweet TweetID="1012735324944990208" />

        <Tweet TweetID="1016697144252788736" />

        <Tweet TweetID="999387405940678662" />
      </div>

      <p class="text-center">
        <a href="/contact" class="filter hover:brightness-125">Email me</a>
        or say hi on
        <ExternalLink
          href="http://twitter.com/piotrstojanow"
          style="color: #1da1f2"
          className="p-0 mr-4 no-underline sm:mr-2 filter hover:brightness-125"
          >🐦 twitter!
        </ExternalLink>
      </p>
    </div>
  </div>
</BaseLayout>
