---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import ExternalLink from "~/components/ExternalLink.astro";
import site from "~/config/site";
const { substackUrl, twitterUsername } = site;

const seoProps = {
  description:
    "Contact Piotr Stojanow by email or twitter, subscribe to the newsletter or the RSS feed.",
  slug: "contact",
  title: "Contact",
};
---

<BaseLayout {...seoProps}>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:px-8 lg:pt-24 lg:pb-28">
    <div
      class="prose mx-auto max-w-2xl px-4 text-center dark:prose-dark md:pt-0 lg:prose-lg"
    >
      <AppTitle>{seoProps.title}</AppTitle>
      <hr />
      <div class="rounded-xl dark:bg-zinc-200">
        <img
          src="./images/dove.svg"
          alt="Dove of Peace by Picasso"
          width="640"
          height="497"
        />
      </div>
    </div>
    <div class="prose mx-auto mt-12 max-w-2xl text-center dark:prose-dark">
      <p>
        <strong>piotr</strong><span class="text-zinc-600 dark:text-zinc-400"
          >&</span
        ><strong>stojanow@gmail.com</strong>
        <span class="text-zinc-600 dark:text-zinc-400">(without the &)</span>
        <br />
        Get in touch on
        <ExternalLink
          href={`https://twitter.com/${twitterUsername}`}
          style="color: #1da1f2"
          className="no-underline filter hover:brightness-125"
        >
          🐦 twitter
        </ExternalLink>
        <br />
        <ExternalLink href={`${substackUrl}`} className="no-underline">
          🔔 subscribe
        </ExternalLink>
      </p>
    </div>
  </div>
</BaseLayout>
