---
import AppTitle from "~/components/AppTitle.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import PostsIndex from "~/components/PostsIndex.astro";
import { getCollection } from "astro:content";

const essays = await getCollection("essays");
const sortedEssays = essays.sort(
  (essayA, essayB) =>
    new Date(essayB.data.date).valueOf() - new Date(essayA.data.date).valueOf()
);

const seoProps = {
  description: "Piotr Stojanow's essays",
  slug: "essays",
  title: "Essays",
};
---

<BaseLayout {...seoProps}>
  <div class="relative pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div
      class="max-w-2xl px-4 mx-auto prose text-center dark:prose-dark lg:prose-lg md:pt-0"
    >
      <AppTitle>{seoProps.title}</AppTitle>
      <hr />
    </div>

    <PostsIndex posts={sortedEssays} />
  </div>
</BaseLayout>
