---
import TheFooter from '../components/TheFooter.astro';
---

<BaseLayout>
  <main>
    <TheHero />

    <div
        class="
          relative
          max-w-6xl
          px-4
          pt-16
          pb-20
          mx-auto
          sm:px-6
          lg:pt-24 lg:pb-28 lg:px-8
        "
      >
        <div>
          <h2
            class="
              text-3xl
              font-extrabold
              leading-9
              tracking-tight
              text-gray-900
              dark:text-white
              sm:text-4xl sm:leading-10
            "
          >
            Recent articles
          </h2>
        </div>
        <div
          class="
            grid
            gap-16
            pt-12
            mt-12
            border-t-2 border-gray-200
            dark:border-gray-800
            lg:grid-cols-3 lg:gap-x-12 lg:gap-y-16
          "
        >
          

          <div class="flex items-center mx-auto">
            <a href="/essays">
              <AppButton cta={recentCTA} />
            </a>
          </div>
        </div>
      </div>
  </main>
  <TheFooter />
</BaseLayout>
