---
type Props = {
  cta: string;
};

const { cta = "Read More" } = Astro.props;
---

<button
  class="border-brand-red text-brand-red hover:bg-brand-red dark:border-brand-red-dark dark:bg-dark dark:text-brand-red-dark dark:hover:bg-brand-red-dark flex transform cursor-pointer items-center gap-1 rounded-md border bg-white px-4 py-2 text-lg leading-6 font-medium transition duration-300 hover:text-white hover:brightness-125 md:px-8 md:py-4 md:text-xl dark:hover:text-black"
>
  <span>{cta}</span>
  <slot name="ctaIcon" />
</button>
