<section
  class="dark:bg-dark mx-auto mt-8 max-w-6xl rounded-sm border border-gray-100 bg-white dark:border-zinc-800"
>
  <iframe
    src="https://stojanow.substack.com/embed"
    title="Newsletter Subscription Form"
    width="100%"
    height="300"></iframe>
</section>
