<section
  class="mx-auto mt-8 max-w-6xl rounded border border-gray-100 bg-white dark:border-zinc-800 dark:bg-dark"
>
  <iframe
    src="https://stojanow.substack.com/embed"
    title="Newsletter Subscription Form"
    width="100%"
    height="300"
    class="filter hover:brightness-125"
    frameborder="0"
    scrolling="no"></iframe>
</section>
