---
import { Image } from 'astro:assets'
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";
import PostHeader from "~/components/PostHeader.astro";
import { formatContent } from "~/utils";

export async function getStaticPaths() {
  const fiction = await getCollection("fiction");
  const formattedFiction = formatContent(fiction);

  return formattedFiction.map((story) => ({
    params: { slug: story.slug },
    props: { story },
  }));
}

type Props = { story: CollectionEntry<"fiction"> };
type Slug = Pick<CollectionEntry<"notes">, "slug">;

const { story } = Astro.props;
const { slug } = Astro.params as Slug;
const { Content } = await story.render();

const storyImage = story.data.image;

const seoProps = {
  description: story.data.description,
  title: story.data.title,
  slug,
};
---

<BaseLayout {...seoProps}>
  <div class="relative px-4 pt-16 pb-20 sm:px-6 lg:px-8 lg:pt-24 lg:pb-28">
    <div class="mx-auto">
      <article
        class="prose mx-auto max-w-2xl px-4 pt-8 pb-16 dark:prose-dark md:pt-0"
      >
        <PostHeader
          date={story.data.date.toString()}
          title={story.data.title}
        />

        {
          storyImage && (
            <Image
              src={storyImage}
              alt={storyImage || ""}
              format="avif"
              class="w-full rounded"
              loading="eager"
            />
          )
        }

        <Content class="prose dark:prose-dark" />
      </article>
    </div>
  </div>
</BaseLayout>
