---
layout: default
---

<article class="max-w-2xl px-4 pt-8 pb-16 mx-auto prose lg:prose-lg md:pt-0">
  <section>
    <div class="flex py-2 content">
      <a href="{{ page.amazon }}"
        ><img
          src="{{ page.cover }}"
          class="mr-4 sm:max-w-sm"
          alt="{{ page.title }} cover"
      /></a>
      <div class="px-2 item-body">
        <h2 class="mx-auto mb-4 text-center p-name lg:mb-8">
          {{ page.title }}
        </h2>
      </div>
    </div>
    <div>
      <small>
        Date read: {{ page.date-read }}.<br />
        Check out <a href="{{ page.amazon }}">Amazon</a> for more details and
        reviews.
      </small>
      <p>{{ page.summary }}</p>
    </div>
    <hr />
  </section>

  {{content | toc}} {% include subscription-form.html %}
</article>
