---
layout: default
---

<article class="post">
    <section id="post-body">
        <div id="book-info">
          <a href="{{ page.amazon }}"><img src="{{ page.cover }}" class="book-cover" alt="{{ page.title }} cover"></a>
          <h3>{{ page.title }}</h3>
          <small>
            Date read: {{ page.date-read }}.<br>
            Check out <a href="{{ page.amazon }}">Amazon</a> for more details and reviews.
          </small>
          <p>{{ page.summary }}</p>
          <hr>
        </div>
        {{content | toc}}
    </section>
</article>

{% include author-footer.html %}
{% include subscription-form.html %}
