---
import "~/styles/global.css";
import BaseHead from "~/components/BaseHead.astro";
import TheNavigation from "~/components/TheNavigation.vue";
import TheFooter from "~/components/TheFooter.astro";
import site from "~/config/site";

type Props = {
  description: string;
  title: string;
};

const { description, title } = Astro.props;
const { siteLanguage: lang } = site;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link
      rel="alternate icon"
      href="/favicon.ico"
      type="image/png"
      sizes="16x16"
    />
    <title>{title}</title>
  </head>
  <BaseHead {description} {title} />
  <body
    class="base-layout bg-white dark:bg-dark grid grid-rows-[auto,1fr,auto]"
  >
    <TheNavigation client:load />
    <div class="flex flex-col">
      <div class="pt-4 md:pt-8">
        <slot />
      </div>
    </div>
    <TheFooter />
  </body>

  <style>
    /* when dvh is not supported fallback to vh  */
    .base-layout {
      min-height: 100vh;
      min-height: 100dvh;
    }
  </style>
</html>
